/sources/AndroidManifest.xml

/sources/bin/classes*
/sources/bin/res
/sources/bin/dexedLibs/
/sources/bin/resources.ap_

*.apk
*.ap_
*.dex
*.class
/sources/bin/
/sources/gen/
local.properties


Thumbs.db

.DS_Store

.classpath
.project